*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-list {
  margin: 1rem;
}

.book-category {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: grey;
}

.book-title {
  font-family: 'Roboto slab', sans-serif;
  font-size: 1.375rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book-author {
  font-family: 'Roboto slab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}
